<div class="link-navi">
  <%= link_to I18n.t("consumer.records.index.title"), root_path(current_tab: "index_tab") %><span> ＞</span>
  <%= link_to I18n.t("consumer.records.show.title"), user_record_path(current_user.id, @record.id) %><span> ＞</span>
  <%= I18n.t("consumer.records.edit.title") %>
</div>

<div class="main-container">
  <%= render "consumer/records/form", record: @record %>
</div>
