<div class="link-navi">
  <%= link_to I18n.t("seller.shops.index.title"), seller_shops_path(maker_id: current_maker.id) %><span> ＞</span>
  <%= link_to I18n.t("seller.shops.show.title"), seller_shop_path(maker_id: current_maker.id, id: @shop.id) %><span> ＞</span>
  <%= link_to I18n.t("seller.coffee_posts.show.title"), seller_shop_coffee_post_path(maker_id: current_maker.id, @shop.id, @coffee.id) %><span> ＞</span>
  <%= I18n.t("seller.coffee_posts.edit.title") %>
</div>

<div class="main-container">
  
</div>