<div class="link-navi">
  <%= link_to I18n.t("seller.shops.index.title"), seller_shops_path %><span> ＞</span>
  <%= link_to I18n.t("seller.shops.show.title"), seller_shop_path(@shop.id) %><span> ＞</span>
  <%= I18n.t("seller.coffee_posts.new.title") %>
</div>

<div class="main-container">
  <%= render "seller/coffee_posts/form", coffee: @coffee, shop: @shop, btn_name: I18n.t("btn.create") %>
</div>