@use '~bootstrap/scss/bootstrap';

* {
  padding: 0;
  margin:  0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width:          90%;
  min-height:     100%;
  padding-bottom: 30px;
  margin:         0 auto;
  background-color: rgb(255, 250, 240);
  color:            rgb(46, 32, 21);
}

html, body {
  font-family:         "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight:         300;
  font-style:          normal;
}

.sm-text {
  font-size: 8px;
}

.common-btn {
  background-color: rgb(46, 32, 21, 0.5);
}

a, a:visited {
  text-decoration: none;
  color:           rgb(46, 32, 21);
}

a:hover, a:active {
  text-decoration: none;
  color:           rgb(191, 185, 156);
}

.notice-message {
  color: rgb(108, 134, 80);
}

.alert-message {
  color: rgb(112, 30, 24);
}

footer {
  position: fixed;
  bottom:   0;
  left:     0;
  width:    100%;
  z-index:  9;
  background-color: rgb(223, 215, 194);
}

#language-switch-btn {
  display: none;
}

#btn_to_pagetop {
  position: fixed;
  right:    5px;
  bottom:   20px;
}

nav li {
  list-style:   none;
  font-size:    20px;
  margin-right: 20px;
}

nav ul {
  display: flex;
  margin:  20px 0;
}

#tab-menu li {
  color:           #8b4513;
  width:           33%;
  display:         flex;
  justify-content: center;
  background-color: rgb(105, 81, 35);
  border-radius:    10px 10px 0 0;
}

#tab-menu li:has(.active) {
  color:            rgb(191, 185, 156);
  background-color: rgba(191, 185, 156, 0.5);
}

#tab-menu-in-shop li:has(.active) {
  border-bottom: 1px solid rgb(112, 128, 144);
}

.tab_title {
  background-color: rgba(105, 81, 35, 0.4);
  border-top:    1px solid rgba(160, 82, 45, 0.8);
  border-bottom: 1px solid rgba(160, 82, 45, 0.8);
  box-shadow:    2px 2px 3px #808080;
}

.main-container {
  background-color: rgba(191, 185, 156, 0.5);
  min-height:       200px;
  padding:          50px 10px;
  box-shadow:       2px 2px 3px #808080;
}

#chart {
  min-height: 200px;
}

.index-card, .shop-card {
  width:            220px;
  height:           300px;
  background-color: rgb(248, 244, 230);
  box-shadow:       2px 2px 3px #808080;
  border:           1px solid rgb(81, 78, 77);
  border-radius:    5px;
  padding:          10px;
  margin-bottom:    30px;
}

.index-card:hover, .shop-card:hover {
  background-color: rgb(233, 228, 212);
}

.card-image {
  width:  200px;
  height: 150px;
  display: flex;
  justify-content: center;
}

#information_posts_tab {
  display: none;
}

#tab-menu-in-shop li:has(.active) {
  color: rgb(191, 185, 156);
}

@media screen and (max-width: 767px) {
  body {
    padding-top:    30px;
    padding-bottom: 80px;
  }
  nav li {
    margin-right: 0;
  }
  .main-container {
    padding: 50px 15px;
  }
  .index-card {
    width:  90%;
  }
  #language-switch-btn {
    display:  block;
    position: fixed;
    top:      5px;
    right:    10px;
  }
  #btn_to_pagetop {
    bottom: 40px;
  }
}