<div class="link-navi">
  <%= link_to I18n.t("consumer.records.index.title"), root_path(current_tab: "index_tab") %><span> ＞</span>
  <%= I18n.t("consumer.coffee_posts.index.title") %>
</div>

<div class="main-container">
  <%= render "consumer/coffee_posts/index", coffees: @coffees, param_name: "page" %>
</div>
