<% if obj.errors.any? %>
  <%= obj.errors.count.to_s + I18n.t('') %>
  <ul>
    <% obj.errors.full_messages.each do |message| %>
      <li class='list-unstyled'><%= message %></li>
    <% end %>
  </ul>
<% end %>